_output/
.quarto/
*_files/

/.quarto/
**/*.quarto_ipynb
.cache/
__pycache__/
deck/figures/
.build-pdf/
pdf/
*.aux
*.toc
*.log
/*.tex
/*.html
/*_files/
/*.pdf
_deck_download.qmd
figures/*.pdf
_method_download.qmd
